.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.active-link {
  text-decoration: underline;
}

.link {
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #111827;
}

@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 12px 0;
  }

  .nav.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
